.input-select {
  background-color: $rtc-button-color-001;
  color: $rtc-font-color-003;
  padding: 2px $rtc-padding-xs;
  font-size: $rtc-font-size-001;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 30%;
  height: 3vh;
  // Mixins de flex - border y shadow
  @include flex-center(row, center, center, nowrap, 0);
  @include border($rtc-radius-001, $rtc-background-color-005, 1px);
  @include shadow(0px, 4px, 8px, 0px, rgba(0, 0, 0, 0.25));
  text-align: center;
  // Breakpoints responsive
  @include responsive(l) {
  }

  @include responsive(m) {
    height: 2.5vh;
    width: 40%;
  }
  @include responsive(s) {
    height: 2.5vh;
    width: 40%;
  }
}
